@model BT_NHOM.Models.HoaDon

@{
    ViewBag.Title = "DelHD";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="cart" class="grid__column-12" style="margin-top:20px">

    <h3 style="text-align: center;">Bạn có chắc muốn xóa hóa đơn của khách hàng này?</h3>
    <hr />
    <div class="form-horizontal" style="display:flex; justify-content:center">

        <div style=" margin-left: 10px; width: 350px;">
            <label class="form-control">@Html.DisplayNameFor(model => model.MaHD): @Html.DisplayFor(model => model.MaHD)</label>
            <label class="form-control">
                @Html.DisplayNameFor(model => model.TenKH):
                @Html.DisplayFor(model => model.TenKH)
            </label>
            

        </div>

    </div>
    <div class="home-filter grid__row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" value="DelHD" class="btn btn--primary">Xóa</button> |
                @Html.ActionLink("Back to List", "IndexHD")
            </div>
        }
    </div>
</div>
