@model BT_NHOM.Models.NgonNgu

@{
    ViewBag.Title = "EditNN";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="cart" class="grid__column-12">
    <div class="home-filter grid__row">
        @using (Html.BeginForm("EditNN", "Nhanviens", FormMethod.Post, new { @style = "margin-left: auto; margin-right: auto;", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaNN)

                <div class="form-group">
                    @Html.LabelFor(model => model.MaNN, htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MaNN, new { htmlAttributes = new { @class = "form-control", disable = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.MaNN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TenNN, htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TenNN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenNN, "", new { @class = "text-danger" })
                    </div>
                </div>

                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input style="background-color: tomato; color: white" type="submit" value="Save" class="btn">
                    </div>
                    <div style="font-size: 1.8rem;">
                        @Html.ActionLink("Quay lại", "IndexNN")
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
